<form n:name="form">
    {foreach $form->errors as $error}
        <div class="form-group">
            {$error}
        </div>
    {/foreach}

    <div n:foreach="$availabilities as $availability" class="form-group">
        <label>
            <input n:name="$form[availability][$availability->getId()]">
            {$availability->getAvailableSince()->format('d.m.Y H:i')} - {$availability->getAvailableTill()->format('d.m.Y H:i')}
        </label>
    </div>

    <button n:name="submit">Rezervovat</button>

    <a href="{plink :Room:default}">Zpět</a>
</form>
