services:
    - App\Core\RouterFactory::createRouter
    - App\UI\Components\core\FormFactory
    - App\UI\Components\SignUpForm\SignUpFormFactory

    - App\Model\Facade\UserAccountFacade
    - App\Model\Service\UserAccountService