<form n:name="form">
    {foreach $form->errors as $error}
        <div class="form-group">
            {$error}
        </div>
    {/foreach}
    <div class="form-group">
        <label n:name="email">Email:</label>
        <input n:name="email">
    </div>
    <div class="form-group">
        <label n:name="password">Heslo:</label>
        <input n:name="password">
    </div>
    <div class="form-group">
        <label n:name="passwordVerify">Zopakujte heslo:</label>
        <input n:name="passwordVerify">
    </div>

    <button n:name="submit">Registrovat</button>

    <a href="{plink :Home:signIn}">Přihlášení</a>
</form>
