{block content}

<div class="container">
    <div class="navbar">
        {foreach $navbarItems as $title => $link}
            <a n:href="{$link}">{$title}</a>
        {/foreach}
    </div>

    <h2>Rezervace termínů pro {$room->getName()}</h2>

    {control reservationForm}
</div>
